version: 2.1

orbs:
  python: circleci/python@0.3.2
  k3d: devopsspiral/k3d@0.1.5
jobs:
  build-and-test:
    executor: 
      name: python/default
      tag: "3.9"
    environment:
      PYTHONPATH=./src
    steps:
      - checkout
      - python/load-cache
      - python/install-deps:
          dependency-file: requirements-dev.txt
      - python/save-cache
      - python/test
  lint-and-coverage:
    executor: 
      name: python/default
      tag: "3.9"
    environment:
      PYTHONPATH=./src
    steps:
      - checkout
      - python/install-deps:
          dependency-file: requirements-dev.txt
      - run:
          name: Linter
          command: |
            flake8 src/
            flake8 test/
      - run:
          name: Coverage
          command: |
            coverage run
            coverage report
  test-on-k8s:
    executor: 
      name: python/default
      tag: "3.9"
    environment:
      PYTHONPATH=./src
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Build Kubelibrary container image
          command: |
            docker build -t kubelibrary -f testcases/Dockerfile .
      - k3d/k3d-helpers
      - k3d/k3d-up:
          cluster-name: testk3d-2
          k3s-version: latest
          k3s-bin-version: latest
      - k3d/k3d-run:
          step-name: Prerequisites for 2nd cluster
          command: |
            kubectl version
            kubectl create namespace test-ns-2
      - k3d/k3d-up:
          cluster-name: testk3d-1
          k3s-version: latest
          k3s-bin-version: latest
      - k3d/k3d-run:
          step-name: Prerequisites for 1st cluster
          command: |
            sleep 60
            kubectl version
            helm repo add grafana https://grafana.github.io/helm-charts
            helm repo update
            helm install grafana grafana/grafana -f /repo/testcases/grafana/values.yaml
            export KLIB_POD_NAMESPACE=kubelib-tests
            kubectl create namespace $KLIB_POD_NAMESPACE
            kubectl label namespaces kubelib-tests test=test
            helm install kubelib-test /repo/test-objects-chart -n $KLIB_POD_NAMESPACE
      - k3d/k3d-run:
          step-name: Run Other examples
          command: |
            export KLIB_POD_NAMESPACE=kubelib-tests
            # Other tests
            docker run --rm \
            --network container:k3d-${K3D_CLUSTER}-serverlb \
            --volumes-from kubeconfig \
            -e KUBECONFIG=$K3D_KUBECONFIG \
            -e KLIB_POD_PATTERN='busybox.*' \
            -e KLIB_POD_LABELS='job-name=busybox-job' \
            -e KLIB_POD_NAMESPACE=$KLIB_POD_NAMESPACE \
            kubelibrary -i other /testcases/
      - k3d/k3d-run:
          step-name: Run Multi cluster examples
          command: |
            # Multi cluster tests
            kubectl create namespace test-ns-1
            kubectl apply -f /repo/testcases/reload-config/sa.yaml
            MYSA_TOKEN_SECRET=mysa-token
            export K8S_TOKEN=$(kubectl get secret $MYSA_TOKEN_SECRET --template={{.data.token}} | base64 -d)
            kubectl get secret $MYSA_TOKEN_SECRET -o jsonpath="{.data.ca\.crt}" | base64 -d > ca.crt
            export K8S_CA_CRT=/.kube/ca.crt
            export KUBE_CONFIG1=/.kube/testk3d-1
            export KUBE_CONFIG2=/.kube/testk3d-2
            export CLUSTER1_IP=$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' k3d-testk3d-1-server-0)
            export CLUSTER2_IP=$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' k3d-testk3d-2-server-0)
            export K8S_API_URL="https://$CLUSTER1_IP:6443"
            sed -i "s#server: https://.*#server: https://$CLUSTER1_IP:6443#g" ~/.k3d/kubeconfig-testk3d-1.yaml
            sed -i "s#server: https://.*#server: https://$CLUSTER2_IP:6443#g" ~/.k3d/kubeconfig-testk3d-2.yaml
            docker cp ~/.k3d/kubeconfig-testk3d-1.yaml kubeconfig:$KUBE_CONFIG1
            docker cp ~/.k3d/kubeconfig-testk3d-2.yaml kubeconfig:$KUBE_CONFIG2
            docker cp ca.crt kubeconfig:$K8S_CA_CRT
            docker create --rm -it \
            --network k3d-testk3d-1 \
            --volumes-from kubeconfig \
            -e KUBE_CONFIG1=$KUBE_CONFIG1 \
            -e KUBE_CONFIG2=$KUBE_CONFIG2 \
            -e K8S_API_URL=$K8S_API_URL \
            -e K8S_TOKEN=$K8S_TOKEN \
            -e K8S_CA_CRT=$K8S_CA_CRT \
            -e HTTP_PROXY=http://1.1.1.1
            --name kubelibrary kubelibrary -i reload-config /testcases/
            docker network connect k3d-testk3d-2 kubelibrary
            docker start -a kubelibrary
      - k3d/k3d-run:
          step-name: Run Smoke examples
          command: |
            K8S_VERSION=$(echo ${K3D_CLUSTER_VERSION:1} | cut -d "-" -f1)
            docker run --rm \
            --network container:k3d-${K3D_CLUSTER}-serverlb \
            --volumes-from kubeconfig \
            -e KUBECONFIG=$K3D_KUBECONFIG \
            -e KUBELET_VERSION=$K8S_VERSION \
            -e HTTP_PROXY=http://1.1.1.1
            kubelibrary -i smoke /testcases/
      - k3d/k3d-run:
          step-name: Run Grafana examples
          command: |
            # Grafana tests
            K8S_VERSION=$(echo ${K3D_CLUSTER_VERSION:1} | cut -d "-" -f1)
            docker run --rm \
            --network container:k3d-${K3D_CLUSTER}-serverlb \
            --volumes-from kubeconfig \
            -e KUBECONFIG=$K3D_KUBECONFIG \
            -e KLIB_POD_PATTERN='grafana.*' \
            -e KLIB_POD_ANNOTATIONS='{"kubelibrary":"testing"}' \
            -e KLIB_POD_LABELS='{"app.kubernetes.io/name":"grafana"}' \
            -e KLIB_POD_NAMESPACE=default \
            -e KLIB_RESOURCE_LIMITS_MEMORY=128Mi \
            -e KLIB_RESOURCE_REQUESTS_CPU=250m \
            -e KLIB_RESOURCE_LIMITS_CPU=500m \
            -e KLIB_RESOURCE_REQUESTS_MEMORY=64Mi \
            -e KUBELET_VERSION=$K8S_VERSION \
            kubelibrary -i grafana /testcases/
  publish-to-pypi:
    executor: 
      name: python/default
      tag: "3.9"
    environment:
      PYTHONPATH=./src
    steps:
      - checkout
      - run:
          name: Verify setup.py version matches tag
          command: |
            SEMVER="${CIRCLE_TAG:1}"
            grep  "## \[$SEMVER\]" CHANGELOG.md
      - run:
          name: Publish on Pypi
          command: |
            pip install twine
            python3 setup.py sdist bdist_wheel
            python3 -m twine upload dist/*
workflows:
  main:
    jobs:
      - build-and-test:
          filters:
            tags:
              only: /.*/
      - lint-and-coverage:
          filters:
            tags:
              only: /.*/
      - test-on-k8s:
          filters:
            tags:
              only: /.*/
      - publish-to-pypi:
          requires:
            - build-and-test
            - lint-and-coverage
            - test-on-k8s
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
